{% extends 'principal/base.html' %}
{% load static %}
{% load dractags %}
{% load custommarkdownify %}
{% block content %}

{% block morecss %}
    <link rel="stylesheet" href="{% static "css/pygmentize.css" %}">
{% endblock morecss %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Boundless Lotus Press</h1>
    <p>Boundless Lotus Press is a simple development blog project created for hmis subject and a basic idea in mind - improve development with markdown based collaborative blog posts where you can report the progress in a pretty and simple format.</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/panteleevnikita/borderless_lotus_press" role="button">Learn more &raquo;</a></p>
  </div>
</div>


<div class="container ">
    <div class="card">
      <h3 class="card-header ">Highlighted posts</h3>
  <!-- Example row of columns -->
  <div class="row highlight">
    {% for post in posts %}
    <div class="col-md-4">
      <h2>{{post.title}}</h2>
      {{post.content | markdown | safe | truncatewords_html:50}}
      <p>{{post.published_date}}, by {{post.author}}</p>
      <p><a class="btn btn-secondary" href="/blog/post-{{ post.id }}" role="button">View details &raquo;</a></p>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock content %}
